bentoml==1.0.10
joblib==1.2.0
pip-chill==1.0.1
torch==2.2.1
torchvision==0.17.1
tqdm==4.64.1
wincertstore==0.2
matplotlib==3.8.0   # ✅ Wheel available for Python 3.12
opencv-python
fastapi
uvicorn
streamlit

